<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>미니 프로젝트 | 회원가입</title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        * {
            font-family: 'Jua', sans-serif;
            color: royalblue;
        }

        .wrap {
            background-color: lightgoldenrodyellow;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#userid').val('');
            $('#usernick').val('');
            $('#userpw').val('');
            $('#userpwcheck').val('');
        });

        // 간단한 회원가입 함수입니다.
        // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
        function register() {
            let id = $('#userid').val()
            let nick = $('#usernick').val()
            let pw = $('#userpw').val()
            let pwcheck = $('#userpwcheck').val()


            if (pw == pwcheck) {

                $.ajax({
                    type: "POST",
                    url: "/api/signup",
                    data: {id_give: id, pw_give: pw, nickname_give: nick},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("회원가입이 완료되었습니다.");
                            window.location.href = "/posts";
                        }
                    }
                })
            } else {
                alert("비밀번호가 일치하지 않습니다.")
                window.location.reload()
            }
        }

        function cancel() {
            window.location.href = "/";
        }
    </script>
</head>
<body>
<div class="wrap">
    <div class="section has-text-centered">
        <h1 class="title"><span style="font-size:55px;">끼리끼리</span></h1>
        <div class="container" style="width:25%">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="userid" aria-describedby="emailHelp" placeholder="아이디">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="usernick" placeholder="닉네임">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input" id="userpw" placeholder="패스워드">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input" id="userpwcheck" placeholder="패스워드 확인">
                        </div>
                    </div>
                </div>
            </div>
            <button class="button is-primary" onclick="register()">회원가입</button>
            <button class="button is-primary" onclick="cancel()">취소</button>
        </div>
    </div>
</div>
</body>
</html>
